[Unit]
Description=Vzgot Containers
Documentation=man:vzgot(8)
After=bird.service
Requires=bird.service

[Service]
Type=oneshot
RemainAfterExit=yes
SELinuxContext=system_u:system_r:unconfined_service_t:s0
ExecStart=/usr/bin/bash /var/lib/vzgot/systemd/vzgot.init start
ExecStop=/usr/bin/bash /var/lib/vzgot/systemd/vzgot.init stop
ExecReload=/usr/bin/bash /var/lib/vzgot/systemd/vzgot.init reload

[Install]
WantedBy=multi-user.target
