#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Generate build timestamp file
	date > vzgot.build_date
	# Trigger build using 'prod' target
	dh_auto_build -- prod

override_dh_dwz:
	# Skip dwz optimization (binaries stripped upstream)

override_dh_auto_install:
	# Create empty required directories
	mkdir -p debian/tmp/etc/vzgot/sites_data
	mkdir -p debian/tmp/etc/vzgot/names
	mkdir -p debian/tmp/vzgot
	# Global installation into debhelper staging directory
	dh_auto_install -- DESTDIR=debian/tmp		\
	                   INITDIR=/etc/init.d		\
	                   SYSTEMD=/lib/systemd

